**SET**

* index ile erişilemezler
* unordered yapıdadır yani sıralı değillerdir. 
* Bir sete erişmek istediğinizde sıralama her seferinde farklılaşacaktır.
* Setler değiştirilemezler, yani immutable yapıdadır.
* Tuple'dan farklı olarak sete yeni eleman eklenip çıkarılabiliyor, ancak set içerisinde var olan elemanın değeri değiştirilemez.
* { } içerisinde tanımlanır. Elemanlar virgül ile ayrılır.
* Farklı tipte veri taşımaya izin verir.
* Aynı değere sahip iki eleman YER ALAMAZ. Dublicate veri taşımazlar.

In [1]:
int_set = {1, 2, 3, 4}
string_set = {"Ayşe", "Ece", "Su", "Burcu", "Gül"}

mix_set = {12, "Sude", 1023.452, True}

print(mix_set)

{1023.452, True, 12, 'Sude'}

In [2]:
print(type(mix_set))

<class 'set'>

In [1]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [2]:
my_list = [1, 3, 8, 1, 2, "Ece", "Ece", True, 8, 0, False, 9, 19, False, 3, 2]
print(my_list)

my_set = set(my_list)
print(my_set)

[1, 3, 8, 1, 2, 'Ece', 'Ece', True, 8, 0, False, 9, 19, False, 3, 2]
{0, 1, 2, 3, 8, 9, 19, 'Ece'}

Bu örnekte True ve False değerleri 0, 1 olarak alınıyor ve bunlar tekrar eden değerler olduğu için set içerisinde gösterilmiyor. eğer 0 ve 1 değerlerini silersek True False değerleri görüntülenecektir.

In [3]:
my_list = [3, 8, 2, "Ece", "Ece", True, 8, False, 9, 19, False, 3, 2]
print(my_list)

my_set = set(my_list)
print(my_set)

[3, 8, 2, 'Ece', 'Ece', True, 8, False, 9, 19, False, 3, 2]
{False, True, 2, 3, 8, 9, 19, 'Ece'}

In [4]:
# Set içerisinde Liste kullanımı;
 
my_set = {"Ayşe", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]}

print(my_set)

TypeError: unhashable type: 'list'

Set içerisine liste eklenememektedir. Çünkü listeler içerisindeki elemanlarda değişiklik yapılabilirken, set içerisinde yer alan elemanlarda değişiklik yapılamadığı için set içerisinde liste yer alamaz.

In [5]:
# Set içerisinde Tuple kullanımı;
 
my_set = {"Ayşe", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}

print(my_set)

{'Ayşe', 'Duygu', 'Başak', ('Müzeyyen', 'İrem', 'Nihal')}

Set içerisine listenin aksine tuple eklenebilmektedir. Tuple içerisindeki elemanlarda herhangi bir değişiklik yapılamadığı için set ile benzer bir yapıya sahip olmasından dolayı set içerisinde kullanılabilmektedir.

---

Boş bir liste ve tuple oluşturmak istediğimizde;
* my_list = []
* my_tuole = ()

şeklinde yaparız.

Setlerde ise durum farklıdır.

In [6]:
empty_set = set()     # set normalde {} ile belirtilirken burda türünü belirterek kullandık.
print(type(empty_set))

<class 'set'>

In [7]:
empty_set = {}         # boş bir set oluşturmak istediğimizde bunun türü dictionary olacaktır.
print(type(empty_set))

<class 'dict'>

Elemanlara Erişim

In [8]:
movies = {"How I met your mother", "The big bag theory", "breaking bad", "friends", "person of ınterest"}

for item in movies:
    print(item)

breaking bad
The big bag theory
friends
person of ınterest
How I met your mother

---

Set içerisinde eleman kontrolü

In [9]:
movies = {"How I met your mother", "The big bag theory", "breaking bad", "friends", "person of ınterest"}

if "Harry Potter" in movies:
    print("Diziler içerisinde mevcut")
else: print("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

In [10]:
print("Dizi setinin uzunluğu", len(movies))

Dizi setinin uzunluğu 5

Bir Set'e Eleman Ekleme

* add( ) ile sete yeni bir eleman eklenir.
* update( ) ile de birden fazla değer ekleme işlemi yapılır.

In [14]:
# add  
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merbaha Dünya"}

books.add("Bu İş asla Tutmaz")
print(books)

books.add("Harry Potter")  # Mevcutta var olan değeri tekrar eklemez.
print(books)

{'Harry Potter', 'Serenad', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Merbaha Dünya', 'Bu İş asla Tutmaz'}
{'Harry Potter', 'Serenad', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Merbaha Dünya', 'Bu İş asla Tutmaz'}

In [15]:
# update
books.update(["Körlük", "İnce Memed"])

print(books)

{'Harry Potter', 'Körlük', 'Serenad', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'İnce Memed', 'Merbaha Dünya', 'Bu İş asla Tutmaz'}

---

Bir Set içerisinden Eleman Silme

* remove( )
* discard( )
* pop( )
* clear( )
* del set

In [16]:
# remove() --> Silmek istenilen elemanın değeri belirtilerek set içerisinden siler.
books = {'Harry Potter', 'Körlük', 'Serenad', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'İnce Memed', 'Merbaha Dünya', 'Bu İş asla Tutmaz'}

books.remove("Harry Potter")
books  #ilgili satırda çıktı almak istediğimizde tek bir çıktı almak istediğimizde print kullanmadan ilgili değişken adı ile de çıktı alabiliriz.

{'Bu İş asla Tutmaz',
 'Körlük',
 'Merbaha Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad',
 'İnce Memed'}

In [17]:
# Set içerisinde olmayan bir değeri silmek istersek hata ile karşılaşırız.

books.remove("Harry Potter")
books

KeyError: 'Harry Potter'

In [23]:
# discard --> remove'dan tek farkı set içerisinde olmayan elamanı silmek istediğimizde hata vermez. 
books.discard("Müşterinizin Beynindeki Satın Alma Düğmesine Basmak")

books

{'Bu İş asla Tutmaz', 'Körlük', 'Merbaha Dünya', 'Serenad', 'İnce Memed'}

In [24]:
books.discard("Harry Potter")
books

{'Bu İş asla Tutmaz', 'Körlük', 'Merbaha Dünya', 'Serenad', 'İnce Memed'}

In [25]:
# pop  --> set içerisinden herhangi bir elemanı siler.
books.pop()

books

{'Bu İş asla Tutmaz', 'Körlük', 'Merbaha Dünya', 'İnce Memed'}

In [26]:
# clear  --> set içerisindeki tüm elemanları siler.
books.clear()

books

set()

In [27]:
# del --> tüm seti siler.
del books

books

NameError: name 'books' is not defined

---

**Set üzerinde kullanabileceğimiz operatörler**

* union() -->  |
* intersection() --> &
* difference() --> -
* symetric difference() --> ^

---

**Union()**

İki seti birleştirmek için kullanılır.

Kümelerde olduğu gibi iki kümenin birleşimi mantığı ile çalışır. 

Birden fazla yazan elemanlar bir kere yazılır.

In [28]:
my_set1 = {"Aysel", "Merve", "Emre", "Sena","Ezgi"}
my_set2 = {"Merve", "Ezgi", "Büşra", "Burcu", "Ece"}

my_set3 = my_set1 | my_set2
my_set3

{'Aysel', 'Burcu', 'Büşra', 'Ece', 'Emre', 'Ezgi', 'Merve', 'Sena'}

In [29]:
my_set4 = my_set1.union(my_set2)

my_set4

{'Aysel', 'Burcu', 'Büşra', 'Ece', 'Emre', 'Ezgi', 'Merve', 'Sena'}

---

**Intersection()**

Kesişim mantığı ile çalışır. 

İki set'in kesişim elemanlarını alır.

In [30]:
my_set1 = {"Aysel", "Merve", "Emre", "Sena","Ezgi"}
my_set2 = {"Merve", "Ezgi", "Büşra", "Burcu", "Ece"}

my_set3 = my_set1 & my_set2
my_set3

{'Ezgi', 'Merve'}

In [31]:
my_set4 = my_set1.intersection(my_set2)

my_set4

{'Ezgi', 'Merve'}

**intersection_update**

intersection() kullanımı iki set'in kesişimini alıp bu kesişim değerlerini yeni bir set olarak döndürür.

Ancak intersection_update() kullanımında ise bu kesişimleri yazmış olduğumuz sete eşitler ve o set bu kesişim değerleri ile güncellenir.

In [32]:
my_set1 = {"Aysel", "Merve", "Emre", "Sena","Ezgi"}
my_set2 = {"Merve", "Ezgi", "Büşra", "Burcu", "Ece"}

my_set1.intersection_update(my_set2)
my_set1

{'Ezgi', 'Merve'}

Örneğin burada my_set1 set'i her iki set'in kesişim değerleri olan Ezgi ve Merve olarak güncellendi.

---

**difference()**

İki Set'in farkını alır.

In [33]:
my_set1 = {"Aysel", "Merve", "Emre", "Sena","Ezgi"}
my_set2 = {"Merve", "Ezgi", "Büşra", "Burcu", "Ece"}

my_set3 = my_set1 - my_set2
my_set3

{'Aysel', 'Emre', 'Sena'}

In [44]:
my_set1.difference(my_set2)  # yapılan bu işlem my_set1'i etkilememektedir.

{'Aysel', 'Emre', 'Sena'}

In [45]:
my_set1

{'Aysel', 'Emre', 'Ezgi', 'Merve', 'Sena'}

In [47]:
my_set1.difference_update(my_set2)  
# burada ise iki set arasındaki farı bulup o fark değerlerini Set'in yeni elamanları olarak güncellemiştir.

In [48]:
my_set1

{'Aysel', 'Emre', 'Sena'}

**Update** genel olarak Set'te güncelleme yapar. Yani yapılan işlem o set'in yeni halini oluşturur. Update ile yapılan işlemde bulunan değerler o set'in güncel değerlerini oluşturur.

---

**Symmetric difference**

Bu işlemde ise kümelerde ki mantıktan örnek vermek gerekirse a ve B kümelerinde yer alan değerleri alıp, ortak değerleri almayarak çalışır.

AuB/AnB şeklinde çalışır.

In [49]:
my_set1 = {"Aysel", "Merve", "Emre", "Sena","Ezgi"}
my_set2 = {"Merve", "Ezgi", "Büşra", "Burcu", "Ece"}

unique_set = my_set1 ^ my_set2
unique_set

{'Aysel', 'Burcu', 'Büşra', 'Ece', 'Emre', 'Sena'}

In [50]:
unique_set2 = my_set2.symmetric_difference(my_set1)
unique_set2

{'Aysel', 'Burcu', 'Büşra', 'Ece', 'Emre', 'Sena'}

In [51]:
my_set1.symmetric_difference(my_set2)

my_set1

{'Aysel', 'Emre', 'Ezgi', 'Merve', 'Sena'}

---

**Kopyalama İşlemleri**

* copy() --> hangi set üzerinde değişiklik yapıyorsanız yalnızca o set etkilenir.
* = --> Atama operatörü kullanılması durumunda ise iki sette etkilenmektedir.

In [52]:
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
my_set2                
# Örneğin burda setler birbirine eşitlendiği için my_set içerisine eklenen değer my_set2 değerine de eklenmiş oldu.

{18, 'Ahmet', 'Sezen', True, 'Vildan'}

In [53]:
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vildan")
my_set2  
# Burda ise copy metodu ile esas set üzerinde yapılan değişikliklerin kopya üzerinde herhangi bir etkisinin olmadığını görmekteyiz.

{18, 'Ahmet', 'Sezen', True}

In [54]:
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan")
my_set2  
# Set, copy ile aynı mantıkta çalışmaktadır.

{18, 'Ahmet', 'Sezen', True}

----

**subset and superset**

* superset = üst küme midir? şeklinde sorgular
* subset = alt küme midir? şeklinde sorgular

In [55]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2 = {"kotlin", "java"}

print(languages.issuperset(languages2))   # languages , languages2 nun üst kümesi midir?
print(languages.issubset(languages2))     # languages, languages2 nin alt kümesi midir?

# ilk küme ikinci kümenin alt/üst kümesi midir? şeklinde çalışır.

True
False

----

**isdisjoint()** --> iki kümenin ayrık kümeler olup olmadığını kontrol eder.

In [56]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2 = {"kotlin", "java", "flutter"}

print(languages.isdisjoint(languages2))

# Bu iki kümenin ortak elemanları olduğu için bu iki küme ayrık değildir. False değeri döndürür.

False

In [57]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2 = {"flutter"}

print(languages.isdisjoint(languages2))

True

----

**Frozenset** --> değiştirilemez bir set oluşturulmak istenildiğinde kullanılır.

!! Frozenset ile değiştirilemez hale getirilmiş bir sette update işlemleri kullanılamamaktadır. Çünkü update ile set elde elde edilen sonuçtaki veriler ile güncellenmekteydi ancak frozenset değiştirilemez haldedir.

In [58]:
frozen_set = frozenset({"Eda", "Merve", "Büşra", "Nur"})

In [59]:
frozen_set.add(6)  # Bu işlem hata verecektir çünkü bu seti frozenset özelliği ile değiştirilemez hale getirmiştik.

AttributeError: 'frozenset' object has no attribute 'add'

---
**Sorular**

In [60]:
# İki set içerisinde yer alan benzersiz elemanları ekrana basalım.
my_set1 = {10, 20, 30, 40, 50}
my_set2 = {40, 50, 60, 80}

print(my_set1.symmetric_difference(my_set2))

{10, 80, 20, 60, 30}

In [61]:
# Bir listenin içindeki tüm elemanları bir sete ekleyelim.
my_list = [1, 2, 9, 3, 4]
my_set = {1, 4, 7, 9, 0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [64]:
# Bir set içerisindeki çift sayıları silelim.
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = []
for i in my_set:
    if i % 2 ==0:
        my_list.append(i)

for i in my_list:
    my_set.remove(i)

my_set

{1, 3, 5, 7, 9}

In [69]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = [i for i in my_set if i % 2 == 1]

my_list

# List comprehension

[1, 3, 5, 7, 9]

---
1) my_list = [i for i in my_set if i % 2 == 0]

2) my_list = []
   for i in my_set:
      if i % 2 ==0:
         my_list.append(i)


* 1 ve 2 numarada gösterilen her iki işlemde aynı şekilde çalışmakta ve aynı sonucu döndürmektedir. 

---